<div class="row">
	<div class="col">
		<div class="card">
			<div class="card–body">
				<app-grafica-dona [graficoData]="graficos.grafico1"></app-grafica-dona>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="card–body">
				<app-grafica-dona [graficoData]="graficos.grafico2"></app-grafica-dona>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="card">
			<div class="card–body">
				<app-grafica-dona [graficoData]="graficos.grafico3"></app-grafica-dona>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="card–body">
				<app-grafica-dona [graficoData]="graficos.grafico4"></app-grafica-dona>
			</div>
		</div>
	</div>
</div>
<p>{{graficos.grafico1.data}}</p>
